body {
    font-family: 'Arial';
    background-color: #c9f09d;
    margin: 0;
    padding: 0;
    padding-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Containner {
    display: flex;
    background-color: #c9f09d;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 20%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.leftsection {
    background-color: rgb(44, 38, 38);
    color: #c9f09d;
    padding: 20px;
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.rightsection {
    padding: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.Profile-Picture img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 5%;
    margin-top: 5%;
}

h1 {
    font-size: 2.5vw;
}

#Hobby ul li {
    padding: 3%;
}

ul li{
    padding: 1%;
}

h3 {
    font-size: 1.5vw;
    padding: 2%;
    color: #c9f09d;
    background-color: rgb(44, 38, 38);
    border-radius: 10px;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    margin-top: 4%;
    padding: 1%;
    display: block;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
}

@media (max-width: 1200px) {
    .Containner {
        width: 90vw;
        height: 70vh;
    }
    h1, h3, p, ul li, button {
        font-size: 2vw;
    }
    .Profile-Picture img {
        width: 15vw;
        height: 6vh;
    }
}

@media (max-width: 992px) {
    .Containner {
        width: 95vw;
        height: 65vh;
    }
    h1, h3, p, ul li, button {
        font-size: 1.8vw;
    }
    .Profile-Picture img {
        width: 18vw;
        height: 7.2vh;
    }
}

@media (max-width: 768px) {
    .Containner {
        width: 95vw;
        height: 60vh;
    }
    h1, h3, p, ul li, button {
        font-size: 1.6vw;
    }
    .Profile-Picture img {
        width: 20vw;
        height: 8vh;
    }
}

@media (max-width: 576px) {
    .Containner {
        width: 95vw;
        height: 50vh;
    }
    h1, h3, p, ul li, button {
        font-size: 1.4vw;
    }
    .Profile-Picture img {
        width: 22vw;
        height: 8.8vh;
        
    }
}

@media (max-width: 400px) {
    .Containner {
        width: 95vw;
        height: 45vh;
    }
    h1, h3, p, ul li, button {
        font-size: 1.2vw;
    }
    .Profile-Picture img {
        width: 25vw;
        height: 10vh;
    }
}